
@{
    ViewBag.Title = "PROVEEDORES";
    Layout = "~/Views/Shared/_principalSharedView.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />
<br />
<h5>LINKS</h5>
@Html.ActionLink("Listado", "listarProveedor", "Proveedor")
