
@{
    ViewBag.Title = "USUARIOS";
    Layout = "~/Views/Shared/_principalSharedView.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />
<br />
<h5>MENU DE @ViewBag.Title</h5>
@Html.ActionLink("Listado", "listarUsuario", "Usuario")
